/* html{
    position: relative;
} */
/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-family: Roboto Slab;
    font-size: 32px;
}
/* Jumbotron */
.man{
    background-image: url(../img/manskin.jpg);
    background-size: cover;
    height: 200px;
    text-align: center;
    

    /*position: relative;*/
}
.woman{
    background-image: url(../img/woman.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    

    /*position: relative;*/
}
.jumbotron .container{
    z-index: 1;
    position: relative;
}
.jumbotron:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)); */
    position: absolute;
    bottom: 0;
}
.jumbotron .display-4{
    color: #F8F8FF;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    margin-bottom: 30px;
    font-size: 35px;
}
.jumbotron .display-4 span{
    font-weight: 500;
}
/* Info */
.info-panel{
    box-shadow: 0 3px 20px rgb(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}
.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p{
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}
/* Working Space */
    .workingspace{
        margin-top: 120px;
        text-align: center;
    }
    .workingspace h3{
        font-size: 52px;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 30px;
    }
    .workingspace h3 span{
        font-weight: 500;
    }
    .workingspace p{
        font-size: 18px;
        color: #acacac;
        font-weight: 200;
        margin: 30px 0;
    }
    /* Testimonial */
    .testimonial{
        margin-top: 100px;
    }
    .testimonial h5{
        text-align: center;
        font-weight: 200;
        font-style: italic;
        font-size: 24px;
    }
    .testimonial figure img{
        width: 90px;
        margin-top: 20px;

    }
    .testimonial figure h5{
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        color: #1c2c5d;
    }
    .testimonial figure p{
        font-size: 12px;
        color: #acacac;
        margin-top: -5px !important; 
    }
    .testimonial figcaption{
        text-align: center;
    }
    .cras{
        margin-right: 50px;
    }
    /* Footer */
    footer{
        /* background-color: #333; */

    }
    
    /* footer p{
        color: #aaa;
        font-size: 1em;
    }
    footer p i{
        color: red;
    } */
/* Semua Version */
.tombol{
    text-transform: uppercase;
    border-radius: 30px;
    margin-right: 25px;
    text-transform: uppercase;
    
}
.regi{
    text-transform: uppercase;
    border-radius: 30px;
    margin-right: 25px;
    text-transform: uppercase;
}
/* VERSION DESKTOP */
@media (min-width: 992px) {

    .navbar-brand, .nav-link{
        color: #F8F8FF !important;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 25px;
        font-weight: 500;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .man ,.woman{
        margin-top: -75px;
        height: 640px;
    }
    .man .display-4,.woman .display-4{
        font-size: 62px;
    }
    .workingspace{
        text-align: left;
    }
    .testimonial h5{
        font-size: 32px;
    }

}
